/*main menu tweens*/

header {
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 30vw;
    display: flex;
}

.petal {
    background-color: white; 
    border: 2px solid black;
    position: relative;
    width: 150px;
    height: 250px;
    border-radius: 50% 50% 0 0;
    transform: rotate(90deg)
}

.caption {
    text-align: center;
    font-size: 1.5em;
    padding-top: 100%;
}

.caption-flip{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 100%;
    transform: rotate(180deg);
}

#menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 250px;
    transform: translateX(-100px);
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

#menu .petal {
    transition: 0.5s;
}

#menu .petal:hover {
    transition: 0s;
    transform: rotate(90deg) translateY(40px);
}

#menu.active li{
    transform: translateX(-210px) rotate(calc(360deg / 5 * var(--i)));
    opacity: 1;
}

#menu #menu-center {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 1s ease-in-out;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 5em;
}

#menu.active #menu-center {
    transform: rotate(720deg);
}

#menu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-body{
    top: 0; 
    left: 0; 
    z-index: -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
}

@media(prefers-reduced-motion) {
    #menu.active #menu-cente {
        transform: none;
    }

    #menu li:hover{
        transform: none;
    }
    
    #menu .square:hover {
        transform: none;
    }

    #menu li{
        transform: rotate(calc(360deg / 5 * var(--i))) translateX(0px);
        opacity: 1;
    }
    
    #menu.active li{
        transform: none;
    }

    
}