header {
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 30vw;
    display: flex;
}

#day-night-main .day-night-toggle{
    position: fixed;
    top: 0;
    left: 0;
    height: 2.5em;
    margin-top: 1%;
}

.caption {
    text-align: center;
    font-size: 1.5em;
    margin-top: 100%;
    color: var(--text-color);
}

.caption-flip{
    text-align: center;
    font-size: 1.5em;
    margin-top: 100%;
    transform: rotate(180deg);
    color: var(--text-color);
}

#menu-body { 
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    transform: rotate(-20deg) translateX(-270px) translateY(-120px);
}

.petal {
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    border-radius: 50% 50% 0 0;
    transform: rotate(90deg);
    transition: 0.5s;
    width: 9em;
    height: 15em;
}

#menu li{
    position: absolute;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
    transition: 1s;
    cursor: pointer;
    transform-origin: 250px;
}

#menu-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    z-index: 10;
    transition: 1s ease-in-out;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--background-color);
    font-size: 5em;
}

#menu-bars {
    display: inline-block;
}

.bar1, .bar2, .bar3 {
    width: 0.8em;
    height: 0.1em;
    background-color: var(--text-color);
    margin: 10px 0;
    transition: 0.4s;
}

.active .bar1 {
    transform: translate(0, 18px) rotate(-45deg);
  }
  
.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: translate(0, -18px) rotate(45deg);
}

.petal:hover {
    transition: 0s;
    transform: rotate(90deg) translateY(40px);
}

#menu.active li{
    transform: rotate(calc(360deg / 5 * var(--i)));
    opacity: 1;
}

@media(prefers-reduced-motion) {
    #menu.active #menu-cente {
        transform: none;
    }

    #menu li:hover{
        transform: none;
    }
    
    #menu .square:hover {
        transform: none;
    }

    #menu li{
        transform: rotate(calc(360deg / 5 * var(--i))) translateX(0px);
        opacity: 1;
    }
    
    #menu.active li{
        transform: none;
    }

    
}

@media screen and (max-width: 640px) {
    #menu-body {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    #menu-body {
        margin-top: 25%;
    }
}

@media screen and (min-width: 768px) {
    #menu-body {
        margin-top: 15%;
    }
}

@media screen and (min-width: 1024px) {
    #menu-body {
        margin-top: 5%;
    }
}

  @media screen and (min-width: 1200px) {
    #menu-body {
        margin-top: 0%;
    }
  }

  @media screen and (min-width: 1600px) {
    #menu-body {
        margin-top: -10%;
    }
  }
