/*main menu tweens*/

#menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 160px;
    transform: rotate(0deg) translateX(100px);
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

#menu .square {
    transition: 0.5s;
}

#menu .square:hover {
    transition: 0s;
    width: 170px;
    transform: translateX(-50px);
}

#menu li:hover{
    transition: 0s;
    transform: translateX(-50px);
}

#menu.active li{
    transform: rotate(calc(360deg / 5 * var(--i))) translateX(0px);
    opacity: 1;
}

#menu #menu-center {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 1s ease-in-out;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

#menu.active #menu-center {
    transform: rotate(720deg);
}

#menu{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(prefers-reduced-motion) {
    #menu.active #menu-cente {
        transform: none;
    }

    #menu li:hover{
        transform: none;
    }
    
    #menu .square:hover {
        transform: none;
    }

    #menu li{
        transform: rotate(calc(360deg / 5 * var(--i))) translateX(0px);
        opacity: 1;
    }
    
    #menu.active li{
        transform: none;
    }

    
}