
.top-skills {
    background-color: brown;
    height: 35%
}

#list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    padding-right: 3%;
}

.skill-petal {
    background-color: var(--background-color);
    border: 2px solid var(--text-color);
    position: relative;
    width: 8em;
    height: 15em;
    border-radius: 0 0 50% 50%;
    transition: transform 1s;
    animation: bob 2s infinite;
}

.skill {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30%;
}

.skill-img {
    height: 5em;
}

.multi-skill{
    display: block;
    padding-left: 18%;
}

/* scrolling text*/
.scrolling-text-container {
    border-radius: 4px;
    overflow: hidden;
}

.scrolling-text{
    display: flex;
    white-space: nowrap;
    padding-top: 15px;
    font-size: 3em;
    font-weight: 600;
}

.scrolling-text-item {
    padding: 0 1.5em;
}

.scrolling-text>div {
    animation: scroll-left 10s linear infinite;
}

.scrolling-text-container:hover .scrolling-text>div {
    animation-play-state: paused;
}

@keyframes bob {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}