.square {
    width: 150px;
}

.back {
    float: left;
    position: relative;
    width: 50px;
}

.main-header {
    text-align: center;
    font-size: 6em
}

.page-header {
    text-align: center;
    font-size: 4em
}

.paragraph-section {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.img-text img {
    width: 150px;
    height: auto;
}

.caption {
    text-align: center;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.img-text {
    padding: 0 6px;
    float: left;
    width: 20%;
}
