body, html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page-header {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 4em;
}

.back {
    float: left;
    position: relative;
    width: 50px;
}

.paragraph-section {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

* {
    box-sizing: border-box;
}